@import "tailwindcss";

@theme inline {
    --font-sans: var(--font-helvetica-neue);
    --font-mono: var(--font-azeret-mono);
    --color-light: #E8EBEF;
    --color-dark: #0b0b0b;
    --color-accent: #1c3563;
    --color-highlight: #28529c;
    /* #ff391f */
    --reveal-position: 50vw;
    --reveal-size: 0px;
    --reveal-shrink: 0px;

    --reveal-offset-left: (calc(100vw - (var(--reveal-size) + var(--reveal-position) + var(--reveal-shrink))));
    --reveal-offset-right: calc(var(--reveal-position) + var(--reveal-shrink));

    --grow-variable: 0;

    --reveal-left: calc(var(--reveal-offset-left) - (var(--reveal-offset-left) * var(--grow-variable)));
    --reveal-right: calc(var(--reveal-offset-right) - (var(--reveal-offset-right) * var(--grow-variable)));

}

.pin-spacer {
    background-color: var(--color-light);
}